.widget img {
  height: 270px;
  width: 235px;
}

.service-widget img {
  height: 270px;
}
.service-wrap img {
  width: 120px;
  height: 112px;
}

.widget-title {
  text-align: justify;
}

p {
  text-align: justify;
}

li {
  text-align: justify;
}
#home {
  background-attachment: inherit !important;
  background-position: 0px 0px !important;
}

.owl-dots {
  z-index: 100;
}
.owl-dot {
  z-index: 100;
}

#full-width .owl-dots {
  bottom: 10%;
}

.extra {
  background: url(../images/extraservice.jpeg);
}

.dye {
  background: url(../images/dye.jpeg);
}

.servicebg {
  background: url(../images/slider3.jpeg);
}

.sustainbg {
  background: url(../images/sustainbg.jpeg);
}

body.barber_version .fabricbutton .grd1 {
  border: 0 !important;
  padding: 17px 40px;
  font-size: 15px;
  font-weight: 600;
}

/* -----------------------------------------
  =Default css to make the demo more pretty
-------------------------------------------- */

/* -----------------------------------------
  =CSS3 Loading animations
-------------------------------------------- */

/* =Elements style
---------------------- */
.load-wrapp {
  width: 100px;
  height: 100px;
  margin: 0 10px 10px 0;
  padding: 20px 20px 20px;
  border-radius: 5px;
  text-align: center;
  background-color: transparent;
}

.load-wrapp p {
  padding: 0 0 20px;
}
.load-wrapp:last-child {
  margin-right: 0;
}
.ring-2 {
  position: relative;
  width: 45px;
  height: 45px;
  margin: 0 auto;
  border: 4px solid #fff;
  border-radius: 100%;
}

.ball-holder {
  position: absolute;
  width: 12px;
  height: 45px;
  left: 17px;
  top: 0px;
}

.ball {
  position: absolute;
  top: -11px;
  left: 0;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background: #fff;
}

.load-5 .ball-holder {
  animation: loadingE 1.3s linear infinite;
}

@keyframes loadingE {
  0 {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
